table, td, th {  
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {

  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
  
  }
  
  div{
    width: 50%;
    padding: 50px;
    margin: 20px;
  }
th{
  background-color: #6070ff;
}
button{
  background-color: #6070ff;
}
tr:nth-child(even) {background-color: #f2f2f2;}
